<form
  class="example-form"
  #loginForm="ngForm"
  (ngSubmit)="ProceedLogin(loginForm)"
>
  <mat-card>
    <mat-card-header>
      <h2>Login</h2>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          required
          placeholder="Username"
          [(ngModel)]="_loginData.username"
          name="username"
          #username="ngModel"
        />
        <div *ngIf="username.invalid && username.touched">
          The username is Required
        </div>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          required
          placeholder="Password"
          [(ngModel)]="_loginData.password"
          #password="ngModel"
          name="password"
          type="password"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
      <button type="reset" mat-raised-button>Reset</button>
      <button
        type="reset"
        mat-raised-button
        color="accent"
        routerLink="/register"
      >
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</form>
