<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>Angular 19</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/contact">Contact</button>
  <button mat-icon-button>
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>mail</mat-icon>
  </button>
</mat-toolbar>

<router-outlet />
