<form
  class="example-form"
  [formGroup]="registerForm"
  (ngSubmit)="ProceedWithRegister()"
>
  <mat-card>
    <mat-card-header>
      <h2>Register</h2>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Role</mat-label>
        <mat-select placeholder="Role" formControlName="role">
          @for (role of roles; track role) {
          <mat-option [value]="role.value">{{ role.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="m">Male</mat-radio-button>
        <mat-radio-button value="f">Female</mat-radio-button>
        <mat-radio-button value="o">Prefer to self-describe</mat-radio-button>
      </mat-radio-group>
      <div>
        <section class="example-section">
          <mat-checkbox
            color="primary"
            class="example-margin"
            formControlName="terms"
            >By checking the box I agree with terms and
            conditions(example)</mat-checkbox
          >
        </section>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary">Register</button>
      <button mat-raised-button color="accent" routerLink="/login">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</form>
