<mat-toolbar color="primary" *ngIf="showmenu">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>Angular 19</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/contact">Contact</button>
  <button mat-button routerLink="/customer">Customer</button>
  <button mat-button routerLink="/product">Product</button>
  <button mat-button routerLink="/login">Logout</button>
  <button mat-icon-button>
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>mail</mat-icon>
  </button>
</mat-toolbar>
